{% extends 'core/base.html' %} {% load static %}{% block content1 %}
<div class="container mt-5">
    <h2 class="text-warning mb-5 border-bottom">SERVICES</h2>
    <div class="row text-center text-white mb-5">

        <div class="col-sm-6"><i class="fab fa-python fa-2x mb-3 i-color"></i>
            <h3>Software development</h3>
            <h5>
                <p class=ss-color> using python Software development- software development refer to a set of computer science activities dedicated to at the process of creating ,desogning, deploying and supporting sftware </p>
            </h5>
        </div>
        <div class="col-sm-6"><i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3> Web Design </h3>
            <h5>
                <p class="ss-color">
                    web Design refer to the aim of web sites that are displayed on the internet the whole thing about your web site including the content, the way it looks and the way . it works is determind by the web site design
                </p>
            </h5>
        </div>
        <div class="col-sm-6"><i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h3> Web development </h3>
            <h5>
                <p class="ss-color">
                    web developers create and maintain web sites they are also resposible for the sites Technical aspects. such as its performance and capacity which measures of a websites speed and how much traffic the site can handle.
                </p>
            </h5>
        </div>


        <div class="col-sm-6"><i class="fas fa-book fa-2x mb-3 i-color"></i>
            <h3>Ms-word </h3>
            <h5>
                <p class="ss-color">
                    refers to the act of using computer to create, edit, save and print documents.
                </p>
            </h5>
        </div>
        <div class="col-sm-6"><i class="fas fa-database fa-2x mb-3 i-color"></i>
            <h3> Database </h3>
            <h5>
                <p class="ss-color">
                    database is an organized collection of structured in formation or data, typically stored electronically in a computer system.
                </p>
            </h5>
        </div>
        <div class="col-sm-6"><i class="fas fa-file-excel fa-2x mb-3 i-color"></i>
            <h3> Excel</h3>
            <h5>
                <p class="ss-color">
                    To organized data and perform financial analysis
                </p>
            </h5>
        </div>
        {% endblock content1 %}