{% extends 'core/base.html' %} {% load static %}


<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-sm-2">
            {% block content %} {% include 'core/sidebar.html' %}{% endblock content %}
        </div>
        <div class="col-sm-10">
            {% block content1 %}

            <h1 class="text-center text-white mt-3 border-bottom border-warning mt-2">Experience</h1>
            <div>
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-4 text-white">
                        <h5>
                            <h5>Address: gkdave s/o late shree pannalal ji dave Aadya bhawan,Oppsite Aditya villa,
                                Udapur-road , banswara. </h5>

                            <h5>Email: davegk59@gmail.com</h5>
                            <h5>phone: +91 8619767100 </h5>

                            </address>
                    </div>

                </div>
            </div>
            <h1 class="text-white border-bottom border-primary mt-2 font-weight-bold st-font">Gajendra Kumar Dave</h1>
            <h4 class="text-white"> Rtd. Assistant Engineer (RRVUNL Banswara)</h4>
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="text-white"> Objective </h4>
                </div>

                <div class="col-sm-7">
                    <h4 class="text-white">
                        <p>To utilize my potential skills, experience, capabilities, knowledge and interest in my work
                            for the proliferation of the organization as well as to be consistently engaged for living a
                            happy, well managed and dynamic life. </p>
                    </h4>
                </div>
            </div>
            <div id="exp" style="font-size:20px;" class="border-top border-warning mt-2 mb-2">
                <p style="color:yellow">WORK-EXPERIANCE IN IT Field </p>
              
                <div class="row">

                <div class="col-sm-8" style="color: whitesmoke; ">
                    <p style="color: bisque;">Software Engineering Intern <br>
                    <ul>
                        <li>Designed and developed web pages using django bootstrap framwork</li>
                        <li>Experience in web page layout creation using bootstrap and CSS framework and tailwindcss
                        </li>

                        <li>Developed scripts Using Python and Javascript </li>
                        <li>Build 10 project using python django Framwork</li>
                        <li>Build projects using php and Laravel Framwork and tailwindcss </li>
                    </ul>
                    </p>

                </div>
                <div class="col-sm-2" style="color: antiquewhite; padding-top: 20px;">
                    <p id="time">july2020-to- till-continue<br> Banswara Rajasthan.</p>

                </div>
            </div>

            </div>
          
            <div class="row border-top border-warning mt-2 mb-2" style="padding-top:20px;" class="">
                <div class="col-sm-3">
                    <h4 class="text-white">Experience</h4>
                </div>

                <div class="col-sm-7">
                    <h4 class="text-white">
                        41 Years in mechanical and Electrical Engineering field
                    </h4>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-10">
                    <table class="table text-white ">
                        <thead>
                            <tr>
                                <th scope="col">s.no.</th>
                                <th scope="col">Locations</th>
                                <th scope="col">Designation/Post held</th>
                                <th scope="col">Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>2*25 MW,Mahi Hydel Power Plant,PH-1 Banswara</td>
                                <td>
                                    <h5><b class="text-warning">Assistant Engineer</b></h5>
                                </td>
                                <td>Aug.2014 to jan 2019.</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>2*25 MW,Mahi Hydel Power Plant,PH-1 Banswara.</td>
                                <td>Junior Engineer </td>
                                <td> Jul 2007 to Aug 2014 </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>2*25 MW,Mahi Hydel Power Plant,PH-1 Banswara.</td>
                                <td> Electricain </td>
                                <td> Feb 1986 to Jul 2007 </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Textile Industries </td>
                                <td> Electricain </td>
                                <td> Nov 1980 to Feb 1986 </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Mahi Project Banswara</td>
                                <td> Electricain </td>
                                <td> Jan 1978 to Nov 1980 </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td> 132 kv GSS ,Sagwara, RSEB</td>
                                <td> Switch board Attendant </td>
                                <td> Jul 1978 to Dec 1978 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="text-white"> Work Proficiency </h4>
                </div>

                <div class="col-sm-7">

                    <p class="text-white">Power wiring,Motor winding ,Fault finding in Eectrical and
                        Eloctronics,Engineering drawongs, Almost every work in textile industries operation and
                        maintenance of hydro generator s and various auxillaries, operation and maintenance
                        in Gss, Field work at mahi Dam,Banswara, Work with private Contarctor Civil and Electrical. </p>
                    <h5 class="text-warning"> build project in web devlopment from django,
                        python,PHP,Laravel,tailwindcss,git ,mysql</h5>
                    </h5>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="text-white">Education</h4>
                </div>




            </div>
            <div class="row">
                <div class="col-sm-10">
                    <table class="table text-white ">
                        <thead>
                            <tr>
                                <th scope="col">s.no.</th>
                                <th scope="col">Qualification</th>
                                <th scope="col">Institutions</th>
                                <th scope="col">Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Secondary</td>
                                <td>Rajasthan State Secondary Education </td>
                                <td>1975</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>ITI(Electrician)</td>
                                <td>Nation Trade Certificate </td>
                                <td> 1978</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Diploma(Mechanical)</td>
                                <td> Institutions of Mechanical Engineering (India).</td>
                                <td> 1997 </td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>RSCIT </td>
                                <td> Vardhaman Mahaveer Open Kota Univercity</td>
                                <td> 2009 </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        {% endblock content1 %}
    </div>
</div>